#services_container_ul ul {
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-type: square;
}
.text_color_white{
    color: white;
}
.margin_bottom_5px{
    margin-bottom: 5%;
}
.image_fitscreen {
    display: block;
    max-width: 100%;
    max-height: 40px;
    width: auto;
    height: auto;
    object-fit: contain;
    -o-object-fit: contain;
    object-position: top;
    -o-object-position: top;
}