#services_container_ul ul {
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-type: square;
}
.text_color_white{
    color: white;
}
.margin_bottom_5px{
    margin-bottom: 5%;
}
.image_fitscreen {
    display: block;
    /* width: 224px; */
    height: 140px;
    object-fit: contain;
    -o-object-fit: contain;
    object-position: top;
    -o-object-position: top;
    position: absolute;
    top: 0;
}
.image_fitscreenbottom {
    width: 280px;
    height: 165px;
}